body {
	max-width: 90%;
	margin: auto;
}


header {
	background : url("http://s1.1zoom.me/big3/573/389246-sepik.jpg");
	color: black;
	height: 200px;
}

nav {
	background-color: rgb(224,160,96);	
	height: 35px;	
}

header form:nth-child(3){
	text-align: center;
}

header h1{
	text-align: center;
	color: white;
}

header form:first-child{	
	margin: auto;
}

nav li {
	display: inline-block;
	margin: auto;	
}

nav a{
	text-decoration: none;
}


nav ul {
	padding: 0;
	display: flex;
	margin: auto;
	height: 100%;
}

footer{
}

footer ul {
	margin:auto;
}

a:hover{
	color: blue;
}

a:visited{
	color:darkpurple;
}

.barre{
	width:350px;
}

h2{
	text-align:center;
	text-decoration:none;
}

section {
	max-width: 60%;
	margin: auto;
}

section li{
	height:256;
	width:256;
	display:inline-block;
}

section li:nth-child(2){
	background:url('https://img.scoop.it/cb7KFmNqfuq3jizH4E9EfTl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9');
}

section li:nth-child(1){
	background:url('https://scontent.xx.fbcdn.net/v/t1.0-1/c26.0.149.149/1958150_10202597212625070_804095459_n.jpg?oh=fcb5d2861ffded5f7f56eace1dc1f394&oe=590EADBB');
	text-decoration:none
}